header nav aside section article footer {
    display: block;
}

body {
    width: 100%;

    display: -o-box;
    display: -moz-box;
    display: -webkit-box;
    
    -o-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
}

#main_space {
    max-width: 940px;
}

#main_header {
    color: #4977a7;
    width: 400px;
    text-align: center;
    margin: 15px 15px;
    padding: 15px 15px;
}
